/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: black;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.collapsible-header{
  text-align: center;
  background-color: dodgerblue;
  color: white;
}

.logo_box{
  height: 240px;
  border-radius: 50%;
  border: 2px solid grey;
}

.logos img{
  padding-top: 20px;
  width: 80%;
  border-radius: 80%;
}

.logos2 img{
  padding-top: 70px;
  width: 80%;
}

.parallax-container2{
  height: 500px;
}

.burj_khalifa{
  width: 49%;
  display: inline-block;
}
.burj_khalifa img{
  width: 100%;
}

.about-section{
  height: 100%;
  width: 45%;
  display: inline-block;
  padding-left: 4%;
  vertical-align: top;
}

.dave_pic img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid grey;
}
